@media (max-width: 1440px) {
  .cotainer {
    gap: 1rem;
  }
  .mentor {
    width: 28rem;
    height: 18.5vh;
  }
  .main-cotainer {
    width: 67%;
  }
  .mentorX {
    width: 15.3rem;
    height: 19.5vh;
  }
}

@media (max-width: 1261px) {
  .main-cotainer {
    width: 75%;
  }
}

@media (max-width: 1112px) {
  body {
    background-color: red;
  }
  .main-cotainer {
    width: 31%;
  }
  .cotainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mentor {
    height: 28.5vh;
  }

  /* .main-cotainer {
    width: 75%;
  } */
}
