html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
}
.cotainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.main-cotainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pm {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.am {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.name {
  display: flex;
  gap: 1rem;
}
p,
.mentor-name {
  color: hsl(0, 0%, 81%);
}
.mentor-name {
  font-size: 0.7rem;
}
.img-1 {
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.mentor {
  width: 31.5rem;
  border-radius: 1rem;
  padding: 1.6rem;
  color: #fff;
}
.mentor-1 {
  background-color: hsl(263, 55%, 52%);
}

.mentorX {
  width: 12.5rem;
  border-radius: 1rem;
  padding: 1.6rem;
}
.mentor-2 {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}
.mentor-3 {
  background-color: #fff;
}
.mentor-4 {
  background-color: hsl(219, 29%, 14%);
}

.mentor-5 {
  width: 12.4rem;
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: #fff;
}
